.nav-container{
  display: flex;
  flex-direction: row;
  background-color: black;

}
.company-name{
  color: white;
  margin-left: 30px;
}
.navbar{
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  color: white;
}
.item-nav{
  margin-left: 10px;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}
.item-nav:hover{
  color: aquamarine;
  text-decoration: underline;
}

.cart-container{
  display: flex;
  justify-content: flex-end;
}
.cart-logo{
  height: 30px;
  margin: 10px;
}